

<section class="w-full flex flex-col items-center">
    <div class="flex relative w-full justify-center items-center bg-cafe bg-no-repeat bg-cover h-[500px]">
        <div class="bg-white relative flex flex-col p-10 m-5 md:p-20 md:gap-10 gap-5 md:pb-10 md:pt-14 border-black border-2 rounded-lg">
            <h1 class="md:text-5xl text-2xl font-bold text-center">Welcome to Sugar and Dice!</h1>
            <div class="flex justify-center">
                <button class="bg-[#f87407] p-4 border-2 rounded-lg border-black hover:bg-[#fb8a2b]">Book your Table</button>
            </div>
        </div>
    </div>
</section>
<section class="mt-10 flex pb-20">
    <p class="text-3xl p-20 border-2 border-black flex-1 bg-white">{{ content }}</p>
        <span class="flex-1">
            <img class="flex-1 mx-auto rotate-2" src="/assets/chesspiece.webp" alt="">
        </span>
</section>