<section x-data="library">
<div class="flex flex-wrap gap-x-20 justify-center">
    {{ collection:games sort="short_description" }}
    <div class="relative mt-20 ml-20 group">
        <div class="relative w-48 rounded-lg p-2 h-20 flex items-center bg-slate-800">
            <h2 class="pl-10 text-{{ title | length > 8 ? '' : '3' }}xl text-white">{{ title }}</h2>
            {{ if date_added | months_ago < 4  }}
                <span class="bg-red-500 text-white px-2 py-1 absolute -top-3 -right-3">NEW!</span>
            {{ /if }}
        </div>
        <img class="w-32 h-32 absolute top-1/2 -translate-y-1/2 -left-1/2"
            src="{{ image or '/assets/games/default.svg' }}" alt="">
        <div class="opacity-0 scale-0 group-hover:scale-100 group-hover:opacity-100 absolute w-96 
            h-56 left-1/2 top-1/2 -translate-y-1/2 -translate-x-1/2 bg-slate-800 
            text-white rounded-lg z-50 transition-all duration-200
            flex items-center flex-col py-3 px-6">
            <span class="absolute -top-[60%]">
                <img class="w-44 h-44" src="{{ image or '/assets/games/default.svg' }}" alt="">
                {{ if popular }}
                {{ svg src="/assets/icons/popular.svg" class="fill-current absolute -bottom-[15px] -right-[100px] text-yellow-300" }}
                {{ /if }}
            </span>
            <div class="mt-12 flex flex-col justify-between h-full w-full">
                <div>
                    <span class="flex justify-between items-start">
                        <h2 class="text-{{ title | length > 8 ? '2' : '3' }}xl mb-2">{{ title }}</h2>
                        <span>
                            <button class="bg-slate-950 text-white px-2 rounded-md whitespace-nowrap ml-3">Book now</button>
                        </span>
                    </span>
                    <p class="text-sm">{{ short_description }}</p>
                    {{ if long_description }}
                    <a class="mt-2 inline-block text-[#f87407] border-b border-transparent hover:border-[#f87407]"
                        href="/games/{{ slug }}">more info...</a>
                    {{ /if }}
                </div>
                <div class="flex justify-between">
                    {{ if min_players and max_players }}
                    <div class="flex items-center">
                        {{ svg src="/assets/icons/person.svg" class="fill-current text-white mr-2 w-6" }}
                        {{ min_players }} - {{ max_players }}
                    </div>
                    {{ /if }}
                    {{ if time_min and time_max }}
                    <div class="flex items-center">
                        {{ svg src="/assets/icons/timer.svg" class="fill-current text-white mr-2 w-6" }}
                        {{ time_min }} - {{ time_max }}
                    </div>
                    {{ /if }}
                    {{ if complexity }}
                    <div class="flex items-center">
                        Complexity: {{ complexity }} / 5
                    </div>
                    {{ /if }}
                </div>
            </div>
        </div>
    </div>
    {{ /collection:games }}
</div>
</section>
